<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /
 RewriteRule ^api/push$ api.php?action=push [L,QSA]
 RewriteRule ^api/poll$ api.php?action=poll [L,QSA]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ index.php [L]
</IfModule>
